<div class="page-content boxed">
    <div id="pageText" class="pageText">
        <h2>Generate XPlan, Waits & SQL Tune Script</h2>
    </div>
    <form action="/x_plan_waits_sql_tune/generate_and_show" method="post">
        <label for="sql_ids_label">SQL_IDs:</label><br>
        <textarea id="sql_ids_data" name="sql_ids_data[sql_ids]" cols="40" rows="20"></textarea><br>
        <%= submit_tag("Generate") %>
    </form>    
</div>
